 * {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr; 
  background-color: rgb(212, 198, 198); 
  padding: 10px 10px 10px 0px;
}
.navbar-brand {
  display: flex;
  text-decoration: none;  
  justify-content: flex-end;
}
.navbar-brand .logo {
  height: 40px;
  width: auto;
  border-radius: 50%;
}
.navbar-brand .logo-text {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
  color: rgb(20, 20, 90);
  text-shadow: 3px 3px 3px rgb(201, 129, 129);
}

.navbar-menu-start {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-menu-start .navbar-item, .navbar-menu-end  .navbar-item{
  text-decoration: none;
  color: rgb(20, 20, 90);
  font-weight: bold;
  font-size: 17px;
}
.navbar-menu-end {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-item:hover {
  color: rgb(134, 79, 6);
  text-shadow: 1px 1px 2px rgb(211, 68, 68);
}



/* * {
  margin: 0px;
}

.question:empty:before,
.answer:empty:before {
  content: attr(data-placeholder);
  color: grey;
  display: inline-block;
}
.question,
.answer {
  border: 1px solid black;
  padding: 10px 40px 60px 10px;
  width: 300px;
  font-size: 15px;
}

.field {
  margin-top: 60px;
  display: grid;
  grid-gap: 30px;
  justify-content: center;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  align-self: center;
}

.navbar-menu {
  font-size: 14px;
}

.decks-heading {
  font-size: 30px;
  font-weight: bold;
}
.navbar {
  background-color: rgb(212, 202, 202);
  padding: 0px 10px 0px 20px;
  margin-bottom: 40px;
}
.logo {
  height: 40px;
  width: auto;
  border-radius: 50%;
}
.decks {
  margin-top: 10px;
  text-align: center;
}

.study-btn {
  margin-top: 10px;
  font-size: 20px;
}
.input-tag {
  border: 1px solid black;
  padding: 10px 40px 10px 10px;
  width: 300px;
  font-size: 15px;
}

.study-box {
  border: 1px solid black;
  width: 500px;
  margin: 30px auto;
  padding: 10px;
}

.deck-name {
  font-size: 20px;
  color: green;
  padding: 10px;
}

.study-table {
  margin: 0px auto 20px auto;
}
.study-table td {
  padding: 10px;
  text-align: center;
}
.study-btn {
  margin-top: 200px;
  font-size: 15px;
}

.answer-btns {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
}

.signup-nav {
  display: flex;
  justify-content: space-between;
}
.logo-items {
  display: flex;
  text-decoration: none;
}
.signup-page .heading {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 7px;
}
.signup-page .sub-heading {
  text-align: center;
  margin-bottom: 50px;
}
.signup-box {
  border: 1px solid grey;
  width: 60%;
  margin: auto;
  padding: 20px;
  box-shadow: 5px 5px 5px grey;
}
.signup-form {
  margin: 20px;
  display: grid;
  grid-template-columns: 200px 100px 200px;
  grid-row-gap: 15px;
  justify-content: center;
}
.signup-form .label {
  grid-column: 1 / 2;
}
.signup-form .inputundefined{
  grid-column: 2 / 4;
  padding: 5px;
  border-radius: 5px;
  align-self: start;
  border: 1px solid black;
}
.signup-btn {
  grid-column: 2 / 3;
  margin-top:20px;
  justify-self: start;
  background-color:rgb(20, 20, 90);
  color: rgb(235, 228, 228);
  font-weight: bold;
  padding:6px;
  border-radius: 6px;
  box-shadow: 5px 5px 2px grey;
}
.signup-btn:hover {
  color:rgb(36, 73, 36);
  background-color: rgb(134, 134, 184);
  box-shadow: 5px 5px 2px green;  
}
.signup-nav .signIn {
  text-decoration: none;
  align-self: center;
  font-weight: bold;
}
.signup-form .inputinvalid {
  border: 1px solid red;
  grid-column: 2 / 4;
  padding: 5px;
  border-radius: 5px;
  align-self: start;
}
.invalid-para {
  color: red;
  grid-column: 2 / 4;
  font-size: 14px;
}

.reset-pswd {
  display: block;
  text-align: center;
}
.signup-box .acc-success {
text-align: center;
font-size:16px;
color: green;
}
.signup-box .acc-exist-already {
  text-align: center;
  font-size:16px;
  color: red; 
} */
