* {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.decks {
  margin: 50px auto;
  width: 400px;
  display: grid;
}
.decks-heading {
  color: red;
  font-size: 30px;
  text-shadow: 1px 1px 1px grey;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 30px;
}
.deck {
  text-decoration: none;
  cursor: pointer;
  color: rgb(44, 44, 40); 
  text-shadow: 0px 0px 1px red;
 
}
.list {
  list-style-type: none;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  grid-gap: 100px;
  border-bottom: 1px solid yellow; 
 
}
.study-box {
  width: 300px;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  margin: 60px auto;
}
.details {
  margin-bottom: 20px;
}
.count {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.study-box .heading {
  text-align: left;
  color: red;
  font-size: 30px;
  text-shadow: 1px 1px 1px grey;
}

.study-box .study-btn {
  width: 100px;
  padding: 3px;
  border-radius: 6px;
  background-color: rgb(44, 44, 40);
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.showQuestion-box {
  display: grid;
  grid-template-rows: 10fr 1fr;
  width: 500px;
  margin: 50px auto; 
}
.answer-btns {
    display:flex;
}
.showQuestion-box .study-btn,
.answer-btns .btn {
  width: 100px;
  margin: 0px auto;
  border-radius: 6px;
  background-color: rgb(99, 99, 49);
  height: 40px;
  color: white;
  font-weight: bold;
}
.showQuestion-box .showQuestion,
.showAnswer-box .showAnswer {
  margin: 0px auto;
}
.showAnswer-box {
  display: grid;
  grid-template-rows: 7fr 1fr 1fr;
  width: 500px;
  margin: 50px auto; 
}
.showAnswer-box .timings {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
}
.edit-btn {
  text-align: center;
  display: block;
  cursor: pointer;
  color: rgb(136, 75, 75); 
  width: 50px;
  text-shadow: 0px 0px 1px red;
  font-size: 15px;
  background-color: white;
  margin: -20px auto;
  font-weight: bold;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px rgb(153, 63, 63);
}
.congrats-msg {
  color: green;
  width: 500px;
  margin: 60px auto;
  font-size: 20px;
}
.dropdown-box{
  max-width: 70px;
  position: relative;
  justify-self: end;
}
.dropdown-content {
  background-color: rgb(219, 189, 189);
  position:absolute;
  display: none;
  z-index: 1;
  box-shadow: 2px 2px 2px grey;
}
.dropdown-box:hover .dropdown-content{
 display: block;;
}
.dropdown-content label:hover{
  background-color: rgb(207, 158, 158);
}
.dropdown-content label {
  display: flex;
  position: relative;
  color: rgb(44, 44, 40); 
  text-shadow: 0px 0px 1px red;
  padding: 10px;
}

.dropdown-btn {
  text-decoration: none;
  cursor: pointer;
  color: rgb(44, 44, 40); 
  text-shadow: 0px 0px 1px red;
}

